body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    color: #000000;
    background-color: #f9f9f9;
    text-align: center;
    background-image: url('/img/wp13580318-newjeans-bunny-wallpapers.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #fcdddc;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: #fff;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 20px;
    font-size: 1.2em;

}

#video video {
    width: 100%;
    max-width: 600px;
}
